# Environment Variables Configuration
PORT=3000

# Cloudinary Media Storage Configuration
# Sign up at https://cloudinary.com to get your Cloud Name, API Key, and API Secret
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

# MongoDB Atlas Database Configuration
# Get your connection string from MongoDB Atlas (e.g. mongodb+srv://username:password@cluster.mongodb.net/dbname)
MONGODB_URI=
